@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #1c130d; /* Dark wood-like background */
  color: #fff;
}

/* Custom scrollbar for deck list */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2d1f16; 
}
::-webkit-scrollbar-thumb {
  background: #6b4c35; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b6245; 
}